body {
    background-image: url(Naivashasunset.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:auto;
}
.searchengine {
    margin-top: 10%;
}
section p {
    color: rgb(255, 255, 255);
    font-family: montserrat;
    font-size: 50px;
}
.searchbox {
    border-style:hidden;
    font-size: 10px;
    border-width: 600%;
}
.button {
    text-align: center;
    font-family: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search {
    height: 40px;
}
body {
    text-align: center;
}
nav {
    color: white;
    background-color: rgba(0, 100, 0, 0.89);
}
footer {
    width: fit-content max-content;
    margin-top: 20%;
    color: rgb(240, 248, 255);
    background-color: rgba(0, 100, 0, 0.89);
    font-size: 200%;
    position: relative;
}